* {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    background-color: rgba(198, 154, 243, 0.61);
}

.flex-conteinar {
    background-color: rgba(114, 89, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 150px;

}

nav {
    background-color: rgb(36, 25, 97);
    width: 100%;
    height: 50px;
    
}

nav ul {
    float: right;
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgba(114, 89, 255, 0.2);
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 50px;
}

nav ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
}

a:hover {
    background-color: white;
    color: rgba(114, 89, 255, 0.2);
}

a:active {
    background-color: rgba(48, 28, 163, 0.336);
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    padding-left: 760px;
    line-height: 50px;
}

.subtitulo {
    color: rgb(255, 238, 0);
    font-weight: bold;
    font-size: large;
    padding-left: 890px;
    line-height: 70px;
}

.lorem {
    color: black;
    font-weight: bold;
    font-size: small;
    padding-left: 400px;
    display: flex;

}

.menuButtom {
    color: white;
    cursor: pointer;
    font-size: 26px;
    margin-left: 2px;
}

#check {
    display: none;
}

@media (max-width: 650px) {
    ul {
        background-color: white;
        position: fixed;
        top: 30px;
        width: 40%;
        height: 100%;
        text-align: left;
        padding-left: 17px;
    }

    nav ul li {
        display: block;
        border-bottom: 1px solid white;
    }

    nav ul li a {
        font-size: 24px;
    }

    nav ul li:hover {
        background-color: rgba(114, 89, 255, 0.2);
        border-radius: 5px;
    }

    a:hover {
        background-color: rgba(114, 89, 255, 0.2);
        color: white;
    }

    .menuButtom {
        color: white;
        cursor: pointer;
        font-size: 26px;
        margin-left: 2px;
    }
    
    #check {
        display: none;
    }
}